@import 'varible_style';

.page-title {
  margin-top: 50px $important;
  text-align: center;
  margin-bottom: 30px $important;
}

.page-content{
  margin-top:30px $important;
  text-align: justify;
}

.page-preview{
  text-align: center;
  img {
    max-width: 100%;
  }
}
