@import 'varible_style';

$anime-time: 8s;

$box-size: 200px;
$clip-distance: 1;
$clip-size: $box-size * (1 + $clip-distance * 2);
$path-width: 2px;

$main-color: #69ca62;

.my-box {
  width: $box-size;
  height: $box-size;
  margin: auto;

  &::before,
  &::after {
    content: '';
    z-index: 55;
    box-shadow: inset 0 0 0 2px;
    animation: clipMe 8s linear infinite;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    color: $gold;
  }

  &::before {
    animation-delay: $anime-time * -.5;
  }

}

@keyframes clipMe {
  0%, 100% {clip: rect(0px, $clip-size, $path-width, 0px); }
  20% {clip: rect(0px, $path-width, $clip-size, 0px); }
  60% {clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px); }
  75% {clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width); }
}
