@import 'varible_style';

.slider-provider {
  height: 600px $important;
  @media (max-width: $sm) {
    height: 350px $important;
  }
  & img {
    @media (max-width: $sm) {
      width: 100%;
      min-height: 350px;
    }
  }
  overflow: hidden;
}

.slider {
  width: 100%;

  .slick-arrow {
    display: none $important;
  }

  .slick-dots {
    @include slick();
    bottom: 140px;
    left: 15%;
    width: auto;
  }
}

.slider-body {
  position: relative;
}

.box {
  position: absolute;
  top: 31%;
  right: 50px;
  text-align: right;
  background: #272727a1 $important;
  box-sizing: border-box;
  padding: 10px;
  width: 140px;
  font-size: $medium;
  color: $withe $important;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  a{
    color: $withe $important;
    &:hover{
      color: $smoky $important;
    }
  }
}

.box-p {
  width: 50vw;
}
