@import 'varible_style';

.article {
  margin-top: 100px $important;
}

.article-box{
  margin-top: 40px $important;
}

.article-more{
  background: $background $important;
  color: $gold $important;
  margin: 0 10px $important;
}
