@import "varible_style.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.page-title {
  margin-top: 50px $important;
  text-align: center;
  margin-bottom: 30px $important;
  & .page-title-code{
    display: block;
  }
}

.page-preview {
  width: 100%;
  margin-bottom: 30px $important;
}

.page-content {
  margin: 40px 0 $important;
  text-align: center;
  cursor: pointer;
}

.page-element-image {

  .page-zoom-icon{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.4s;
    svg{
      font-size: 100px;
      opacity: 0;
    }
  }
  &:hover {
     img{
       opacity: 0.4 $important;
     }
    svg{
      opacity: 1;
    }
   }
}

.page-title-content {
  display: inline-block;
  padding-top: 10px;
  margin-bottom: 30px $important;
}

.page-review{
  text-align: justify;
}

.image-player {
  height: 100vh;
  width: 100%;
  background: $background $important;
  display: inline-flex;
  align-items: center;
  .close-player {
    left: 5px;
    bottom: 5px;
    @include hover-icon-text($gold, $gold2, $gold);
    background: rgba($gold, 0.25);
    position: absolute;
    z-index: 99999;
  }
}
