@font-face {
  font-family: "vazir";
  font-style: normal;
  font-weight: normal;
  src: url("font/Vazir-FD-WOL.eot?#iefix") format("embedded-opentype"),
  url("font/Vazir-FD-WOL.woff2") format("woff2"),
  url("font/Vazir-FD-WOL.woff") format("woff"),
  url("font/Vazir-FD-WOL.ttf") format("truetype");
}
