@import 'varible_style';

.box-list {
  height: 300px;
  overflow: hidden;
  width: 100%;
  position: relative;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  img {
    height: 100%;
    transition: 0.4s;
  }

  .box-list-title {
    position: absolute;
    background: $gold;
    top: 50px;
    z-index: 22;
    left: 0;
    width: 80%;
    right: 0;
    transition: 0.4s;
    color: $background;
    font-size: $small;
    padding: 5px;
  }

  .box-list-review {
    @extend .box-list-title;
    color: $smoky;
    background: unset;
    opacity: 0;
  }

  .box-list-date {
    @extend .box-list-title;
    color: $smoky;
    background: unset;
    top: 20px;
    font-size: $very-small;
  }

  .box-list-Continue {
    @extend .box-list-title;
    color: $smoky;
    background: unset;
    top: unset;
    bottom: 10px;
    font-size: $very-small;
  }

  &:hover {
    color: $gold;

    &::before,
    &::after {
      width: 98.5%;
      height: 100%;
    }

    &::before {
      border-top-color: $gold;
      border-right-color: $gold;
      transition: width 0.25s ease-out,
      height 0.25s ease-out 0.25s;
    }

    &::after {
      border-bottom-color: $gold;
      border-left-color: $gold;
      transition: border-color 0s ease-out 0.5s,
      width 0.25s ease-out 0.5s,
      height 0.25s ease-out 0.75s;
    }

    & img {
      opacity: 0;
    }

    & .box-list-title {
      margin: auto;
    }

    & .box-list-review {
      opacity: 1;
      top: 100px;
    }
  }
}
