@import "varible_style.scss";

.navbar-static{
  height: 60px;
}

.navbar{
  position: fixed $important;
  z-index: 999 $important;
}

.nav-color {
  background-color: $background $important;
}

.navbar-flag {
  padding: 8px $important;
}

.navbar-flag-img {
  width: 25px;
  height: 20px;
}

.navbar-flag-logo-link {
  position: absolute $important;
  top: 0;
  left: 10px;
}

.navbar-flag-logo {
  width: 90px;
  height: 90px;
}

.drawer-close-icon {
  @include hover-icon-text($smoky, $gold);
  svg{
    font-size: 35px $important;
  }
}

.drawer-close {
  text-align: right;
}

.drawer {
  @include custom-slide-for-scrollbar();
  overflow: auto;
  background-color: $background $important;
  height: 100rem $important;
  width: 320px $important;
  color: $smoky $important;
  padding: 20px;
}

.drawer-list{
  height: 300px;
  margin-top: 35px $important;
  overflow: auto;
  @include custom-slide-for-scrollbar();
}

.drawer-list-li{
  text-align: right;
  height: 40px;
  padding: 10px 3px;
}

.drawer-social-icon{
  margin-top: 10px;
  button{
    @include hover-icon-text($smoky, $gold);
  }
  svg{
    color: $smoky $important;
  }
}

.drawer-copyright{
  text-align: right;
  font-size: 14px;
  margin-top: 9px;
}

.navbar-menu-icon{
  margin: 0 2px;
}

.navbar-phone{
  color: $withe $important;
  font-size: $small $important;
  text-decoration: none;
  margin: 0 10px;
}
