@import "varible_style.scss";
@import "loading.min.css";
@import "font/font.scss";
body {
  margin: 0 auto;
  background-color: $background;
  font-size: 20px;
  color: $withe;
  font-family: vazir,sans-serif $important;
  @include custom-slide-for-scrollbar();
}

//region page rtl
.elem-rtl {
  direction: rtl;
}

.elem-ltr {
  direction: ltr;
}

//endregion

//region animation
.pause-1 {
  animation-iteration-count: 1 $important;
  animation-delay: -1.1s $important;
}

.pause-2 {
  animation-iteration-count: 2 $important;
}

.pause-3 {
  animation-iteration-count: 3 $important;
}

.pause-4 {
  animation-iteration-count: 4 $important;
}

.pause-1-only {
  animation-iteration-count: 1 $important;
}

.duration-2{
  animation-duration: 2s $important;
}

.duration-3{
  animation-duration: 3s $important;
}
//endregion

.text-limit-class{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-limit-class-justify{
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
}

.border-bottom{
  border-bottom: 1px solid $gold;
}

.border-top{
  border-top: 2px solid $gold;
}

.input-style{
  width: 100%;
  background: $withe;
  label, input{
    color: $background $important;
  }
  fieldset{
    border-color: $gold $important;
  }
}
