//region color
$dark: #141414;
$gold: #d7b26b;
$gold2: #d7c17c;
$withe: #FFFFFF;
$smoky: #a5a5a5;
$background: #1a1a1a;
//endregion

//region responsive
$lg: 980px;
$md: 720px;
$sm: 600px;
$vm: 0;
//endregion

//region size
$very-large: 23px;
$large: 20px;
$medium: 17px;
$small: 14px;
$very-small: 12px;
//endregion

//region important
$important : !important;
//endregion

@mixin hover-icon-text($color, $hover-background: false,$hover-text: false){
  color: $color $important;
  transition: 0.15s;
    @if $hover-background {
      &:hover {
        background-color: rgba($hover-background, 0.15) $important;
      }
    }
  @if($hover-text){
    &:hover {
      color: $hover-text $important;
    }
  }
}

@mixin custom-slide-for-scrollbar{
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track-piece {
    background: $dark;
  }

  &::-webkit-scrollbar-thumb {
    background: $gold;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $gold2;
  }
}

@mixin text-limit($min-width){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: $min-width px;
}

@mixin slick () {
  li{
    width: 5px;
    height: 5px;
    button {
      &::before {
        display: none;
      }
      width: 5px;
      height: 5px;
      background: $withe $important;
    }
    &.slick-active{
      button{
        background: $gold $important;
      }
    }
  }
}
