@import "varible_style.scss";

.page-title{
  margin-top: 50px $important;
  text-align: center;
  margin-bottom: 30px $important;
}

.page-preview{
  width: 100%;
  margin-bottom: 30px $important;
}

.page-content{
  text-align: justify;
  font-size: $small;
}

.page-title-content{
  display: inline-block;
  padding-top: 10px;
  margin-bottom: 30px $important;
}
