@import "varible_style.scss";

.project {
  margin-top: 100px;
  @media (max-width: $sm) {
    margin-top: 150px;
  }
}

.project-name-site{
  color: $gold;
  margin: 0 5px;
  display: inline-block;
}
.app-bar-tab{
  margin-top: 30px $important;
  background: $background $important;
}

.project-Box{
  margin-top: 40px $important;
  img{
    width: 100%;
  }
}

.project-tabs{
  @include hover-icon-text($smoky,false, $gold);
}
