@import 'varible_style';

.page-title {
  margin-top: 50px $important;
  text-align: center;
  margin-bottom: 30px $important;
}

.page-content{
  margin-top:30px $important;
  text-align: justify;
}

.page-map {
  width: 100%;
  height: 350px;
  position: relative;
  margin-bottom: 50px $important;
  & > div {
    width: 100% $important;
  }
}

.page-location {
  font-size: 80px $important;
  color: $background;
}

.page-title-for-us{
  font-size: $small;
  padding-top: 10px;
  margin-bottom: 30px $important;
  display: inline-block;
}

