@import 'varible_style';

.footer {
  margin-top: 150px $important;
  margin-bottom: 30px $important;
  border-top: 1px solid $gold;
  border-bottom: 1px solid $gold;
  padding: 10px;
}

.footer-title {
  margin-bottom: 17px $important;
  display: inline-block;
}

.footer-list {
  text-align: right $important;
}

.footer-details {
  text-align: center;
  height: 310px;
  .footer_logo {
    height: 50%;
  }
}

.footer-icon {
  position: fixed $important;
  bottom: 7%;
  font-size: 40px;
  z-index: 35 $important;
  background-color: #126436 $important;
  svg{
    font-size: 50px $important;
    color: $withe $important;
  }
}
