@import 'varible_style';

.post-related {
  margin-top: 100px $important;
  font-size: $small;
}

.post-related-post {
  margin: 20px 0 $important;

  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: $dark $important;
  }
}

.post-related-title {
  color: $gold;
  border-bottom: 1px dashed $gold;
  padding-bottom: 20px;
}

.post-related-post-title {
  color: $gold;
  margin: 8px 0 $important;

}
