@import 'varible_style';

.video {
  margin-top: 80px $important;
}

.video-Box{
  cursor: pointer;
  margin-top: 40px $important;
}

.video-name-site{
  color: $gold;
  margin: 0 5px $important;
  display: inline-block;
}

.video-icon{
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: 2;
  .MuiIconButton-label{
    width: 100%;
    height: 100%;
  }
  svg{
    opacity: 0;
    font-size: 150px $important;
  }
  &:hover{
    svg{
      opacity: 1;
    }
  }
}

.video-icon-button{
  width: 100% $important;
  height: 100% $important;
  @include hover-icon-text($smoky,false, $gold);
}

.video-player{
  width: 100%;
  height: 100vh;
  * {
    height: 100%;
  }
  video{
    width: 100%;
    height: 100%;
  }
}

.video-play-close{
  position: absolute $important;
  top: 5px;
  left: 5px;
  z-index: 99999;
  height: 54px;
}
