@import 'varible_style';

.site-details{
  text-align: center;
  margin-top: 30px $important;
  font-size: $very-large $important;
  color: $gold;
}

.site-details-review{
  @extend .site-details;
  margin-top: 0 $important;
  font-size: $medium $important;
}

.about{
  margin-top: 50px $important;
  font-size: $medium;
  position: relative;
}

.about-me-title{
  color: $gold;
  font-size: $large $important;
  margin-bottom: 15px $important;
}

.more-about{
  color: $gold;
  margin-bottom: 15px $important;
  margin-top: 30px $important;
}

.preview-about{
  img{
    width: 100%;
  }
}

.experience{
  position: absolute;
  @media screen and (min-width: $sm) {
    bottom: -30px;
  }
  right: 35px;
  width: 130px $important;
  height: 100px $important;
  background-color: unset $important;
  color: $gold2 $important;
  text-align: left;
  padding: 8px;
  border: 2px dashed $gold $important;
  font-size: 60px;
}

.experience-about{
  text-align: right;
  margin-top: -15px $important;
}
